{% extends 'base.html' %}

{% load static %}

{% block post_types %}
{% endblock post_types %}

{% block content %}
  <div class="col-md-7 content-left">
    <div class="article">
      <h1><center><br>CORPORACIÓN CULTURAL<br>TIERRA Y FUEGO</center></h1>
      <div class="post-content" style="padding-right: 35px;">
        <div class="col-md-4">
          <img src="{% static 'img/logo.png' %}" style="display:block;margin: 0 auto;margin-top: 90px;max-width:100%;">
        </div>
         <!--<div class="col-md-8">
          <p>
            Directora y actriz Boyacense, graduada como Normalista Superior de la Escuela Normal Superior “Leonor Álvarez Pinzón”; asistente de dirección y actriz del grupo de teatro Sombras desde el 2007 en montajes universales como:  
          </p>
          <p>
            <i>"El Lugar"</i> (2008 y 2011) del dramaturgo Argentino Carlos Gorostiza.
          </p> 
          <p>
            <i>"Los Físicos"</i> (2008) del dramaturgo Suizo Friedrich Dürrenmatt.
          </p>
          <p>
            <i>"El enfermo imaginario"</i> (2009 y 2010) y <i>"El médico a palos"</i> (2010) del dramaturgo Francés Jean-Baptiste Poquelin, (Molière).
          </p>
          <p>
            <i>"Yerma"</i> (2009), <i>"Bodas de Sangre"</i> (2010), <i>"Bernarda Alba"</i> (2011-2013), del poeta y dramaturgo Español Federico García Lorca. 
          </p>
        </div>-->
      </div>
    </div>
  </div>
  <div class="col-md-5 content-right">
    <div class="content-right-top">
      <div class="editor text-center">
        <h3>Misión</h3>
        <p>Hacer del arte y la formación artística un evento cercano  a todo espectador</p>
      </div>
      <div class="editor text-center">
        <h3>Visión</h3>
        <p>Para el 2020  ser un organismo de gran influencia artística y social en el departamento de Boyacá.</p><br>
      </div>
    </div>
  </div>
{% endblock content %}