{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="col-md-7 content-left">
    {% for post in posts %}
      {% include '_single_post.html' %}
    {% endfor %}
  </div>
  <div class="col-md-5 content-right">
    <div class="content-right-top">
      <h5 class="head">Repertorio</h5> 
      {% for repertory in repertoires %}
        {% include '_single_repertory.html' %}
      {% endfor %}
    </div>
    {% comment %}
    <div class="content-right-top">
      <h5 class="head">Repertorio</h5>
      <div class="editors-pic">
        <div class="e-pic">
          <a href="single.html"><img src="{% static 'images/ep1.jpg' %}" alt="" /></a>
        </div>
        <div class="e-pic-info">
          <a href="single.html">MarkerBot Announces the ‘Replicator 2x’  For the Experimental</a>
          <span></span>
          <label>2 Days Ago</label>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    {% endcomment %}
  </div>
{% endblock content %}