{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block blog %}
    active
{% endblock blog %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="single-page">
        <div class="print-main">
          <a href="single.html">{{ post.title }}</a>
          <p class="sub_head">Publicado por <a href="#">{{ post.user.get_full_name }}</a> {{ post.date|naturaltime }}</p>
          <a><img src="{{ post.image }}" class="img-responsive" alt="" /></a>
          <div class="ptext" style="width:100%">
            {{ post.content|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-12">
      <div class="single-page">
      <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br>
      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% endblock script %}